
.mainContainer {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.gridOuter{
    
    display: flex;
    justify-content: center;
    /* width: 80%; */
    margin-left: 8%;
    margin-right: 8%;
}

.h6_1 {
    color: #171618;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 53.736px;
    /* 111.949% */
    letter-spacing: -1.343px;
}

.h6_2 {
    color: #171618;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
    /* 0% */
}

.grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    padding-top: 100px;

}

.box6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h6_3 {
    color: #171618;
    text-align: center;
    font-family: Inter;
    font-size: 24.801px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.281px;
    /* 110% */
}

.txt6 {
    color: #5B5A59;
    text-align: center;
    font-family: Inter;
    font-size: 18.601px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.041px;
    /* 140% */
}

.icon {
    text-align: center;
    width: 49.02px;
    height: 50px;
    flex-shrink: 0;
}